*{
	margin: 0;
	padding: 0;
}

html{
	position: relative;
	min-height: 100%;
} 
body{
	background-color: rgb(204,0,0);
	margin: 0 0 75px;
}

#wrapper{
	min-height: 100%;
	padding: 0 0 55px;
	position: relative;
}

h1{
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}
h2{
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}
.constlogo{
	height: 10vmax;
	margin-left: 30%;
	margin-top: 20px;
	/*margin-top: 5%;*/
}
/*------------------Navbar--------------*/
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    /*header > div#logo {
        line-height: 70px;
        position: relative;
    }*/
    
    header > .menuDown {
        box-shadow: 0 3px 5px rgba(0,0,0,1);
    }
    
    header > .menuUp {
        box-shadow: none;
    }
    
        /*header > div#logo > h1 {
            color: white;
            font-weight: 300;
            text-transform: lowercase;
        }*/
        
        header > div#logo > div#navToggle {
            background-color: rgba(0,0,0,.15);
            position: absolute;
            right: 0;
            top: 0;
            transition: 300ms all ease;
        }
            
            header > div#logo > div#navToggle:hover {
                background-color: rgba(0,0,0,.1);
            }
            
            header > div#logo > div#navToggle > a {
                color: rgba(255,255,255,.85);
                display: block;
                font-size: 0.85em;
                font-weight: 600;
                padding: 0 2.5rem;
                text-decoration: none;
                transition: 300ms all ease;
            }
            
                header > div#logo > div#navToggle:hover > a {
                    color: rgba(255,255,255,1);
                }

    header > nav {
        background-color: white;
        display: none;
        flex: 1;
        transform: 300ms all ease;
    }
    
        header nav > ul {
            list-style-type: none;    
        }
        
            header nav > ul > li {
                border-bottom: 1px dotted rgba(0,0,0,.1);
                position: relative;
            }
            
                header nav > ul > li:last-of-type {
                    border-bottom: none;    
                }
            
                header nav > ul > li > a {
                    display: block;
                    color: white;
                    font-weight: 700;
                    font-size: 1.85em;
                    padding: 1.5rem 0;
                    text-decoration: none;
                    transition: 250ms all ease;
                }
                
                    header nav > ul > li > a span.toggle {
                        background-color: rgba(0,0,0,.05);
                        border-radius: 3rem;
                        color: rgba(0,0,0,.25);
                        font-size: 0.75em;
                        font-weight: 500;
                        padding: 2px 8px;
                        text-transform: lowercase;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        display: none;
                    }
                
                    header > nav > ul > li:hover > a {
                        color: black;  
                    }
                
            header > nav > ul > li > nav {
                background-color: white;
                border-radius: 1.5em;
                box-shadow: 0 2px 8px rgba(0,0,0,.6);
                display: none;
                overflow: hidden;
                position: absolute;
                right: 5%;
                width: 90%;
                z-index: 100;
            }
            
                header > nav > ul > li > nav > ul > li > a {
                    color: white;
                    transition: 300ms all ease;
                }
                
                    header > nav > ul > li > nav > ul > li:hover > a {
                        background-color: rgba(0,0,0,.6);
                        color: white;
                    }
@media all and (min-width: 600px) {
    header > div#logo > div#navToggle {
        display: none;    
    }
    
    header {
		font-family: 'Fjalla One', sans-serif;
        background-color: rgb(204,0,0);
    	border-bottom-style: solid;
    	border-bottom-width: 3px;
    	border-bottom-color: white;
        flex-direction: row;
        line-height: 70px;
        /*padding: 0 3rem;*/
        position: static;
        text-align: left;
        width: 100%;
    }
    
        header > div#logo {
            background-color: transparent;
            line-height: 90px;
        }
    
            header > div#logo > h1 {
                color: black;
            }
            
    header > nav {
        background-color: transparent;
        display: block;
    }
    
        header > nav > ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;    
        }
        
            header nav > ul > li {
                border-bottom: none;
            }
    
                header nav > ul > li > a {
                    padding: 0 1.25rem;
                }
                    
                    header nav > ul > li > a span.toggle {
                        display: none;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid white;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 1px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        margin: 0 0 0 .25rem;
                        transition: 250ms all ease;
                        width: 0;
                        vertical-align: middle;
                    }
                    
                        header nav > ul > li:hover > a span.caret {
                            border-top-color: black;
                            transform: rotate(270deg); 
                        }
    
    header > nav > ul > li:hover > nav {
        background-color: rgb(51,51,51);
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0,0,0,.6);
        display: block;
        line-height: 3em;
        right: -50%;
        width: 196px;
    }
}

.logo{
	float: left;
	margin-top: 5px;
	margin-bottom:5px;
	padding-left: 20px;
	height: 60px;
}
/*#logo{
	height: 80%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1%;
	float: left;
	/*margin-top: 5%;
}
#topbar{
	width: 100%;
	height: 4vmax;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;

}
#navbar {
    width: 50%;
    height: 4vmax;
    margin: auto;
    font-size: 1.8vmax;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
}
#navbar ul {
    height: auto;
    position: relative;
    padding: 8px 0px;
	padding-top: 1.5%;
    margin: 0px;
    margin-right: 8%;
}
#navbar li {
display: inline;
padding-left:1vmax;
padding-right: 1vmax; 
}

#navbar a{
	position: static;
}
#navbar a:link {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}
#navbar a:visited {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}
#navbar a:hover {
    text-decoration: none;
    color: black;
    padding: 8px 8px 8px 8px;
    font-weight:bold;
}
#navbar a:active {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}*/
/*------------------General----------------*/

.content{
	background-color:white;
	border: hidden;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
	overflow: hidden;
}
.content p{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.5vmax;
	color: black;
}
/*--------------Home-------------------*/
#construction{
	margin: auto;
	margin-top: 20px;
	width: 70%;
	margin-bottom: 55px;
}
	#construction > h1{
		color: black;
		font-size: 25pt;
		padding-top: 15px;
	}
	#construction > p{
		float: left;
		width: 60%;
		padding-left: 5%;
		padding-right: 2%;
		padding-bottom: 5px;
		line-height: 40pt;
	}

#twitterfeed{
	width: 15vmax;
	height: 400px;
	float: right;
	padding: 25px;
	
}
.twitter-timeline{
	margin: auto;
	width: 100%;
	background-color:white;
}
/*--------------------Bio--------------------*/
#bio{
	margin: auto;
	margin-top: 20px;
	width: 70%;
	margin-bottom: 55px;
}
	#bio > h1{
		color: black;
		font-size: 25pt;
		padding-top: 15px;
		padding-bottom: 5px;
	}
	#bio > p{
		font-size: 17pt;
		font-weight: normal;
		float: left;
		width: 60%;
		padding-left: 5%;
		padding-right: 2%;
		padding-bottom: 10px;
		line-height: 25pt;
	}
	#bio > img{
		margin: 4%;
		padding-left: 10px;
		display: block;
	}
/*-------------------Schedule----------------*/
#schedule{
	margin: auto;
	margin-top: 20px;
	width: 75%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.7vmax;
    text-align: left;
	}
	#schedule ul{
		margin: 2%;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 25px;
		list-style-type: square;
	}
		#schedule li{
			padding-top: 10px;
			padding-bottom: 10px;
		}
			#schedule li a{
				color: black;
				text-decoration: none;
			}
				#schedule li a:hover{
					font-weight: bold;	
				}
/*-------------------Media--------------------*/
#videoplayer{
	margin: auto;
	margin-top: 20px;
	width: 65%;
	text-align: center;
}
.player{
	display: block;
	margin: auto;
	padding: 20px;
	height: 31.5vmax;
	width: 56vmax;
	background-color:white;
	border: hidden;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
}
#audioplayer{
	padding: 10px;
	display: block;
	background-color:white;
	width: 60%;
	border: hidden;
	border-radius: 25px;
	box-shadow: 10px 5px 5px black;
	margin: auto;
	margin-top: 20px;
}
/*~~~~~~~~~~~~~~~~~~~~Pictures~~~~~~~~~~~~~~~~*/
#comingSoon{
	margin: auto;
	margin-top: 20px;
	width: 60%;
	line-height: 40pt;
}
	#comingSoon > h1{
		padding: 15px;
	}
	#comingSoon > p{
		margin: auto;
		width: 75%;
	}
	#comingSoon > img{
		display: block;
		margin: auto;
		/*width: 300px;
		height: 220px;*/
		width: 30%;
		height: 15%;
		padding-bottom: 25px;
	}
/*-------------------Articles-------------------*/
#articleDiv{
	margin: auto;
	width: 65%;
	margin-top: 20px;
	margin-bottom: 55px;
}
	#articleDiv > p{
		padding: 25px;
		line-height: 20pt;
		font-size: 14pt;
	}
	#articleDiv > h2{
		padding-top: 15px;
	}
/*-------------------Contact-------------------*/
#contactinfo{
	margin: auto;
	margin-top: 20px;
	width: 70%;
	text-align: center;
	line-height: 35pt;
}
	#contactinfo > p{
		width: 50%;
		font-weight: bold;
		margin: auto;
		margin-top: 3%;
	}

	ul.numEmail{
		margin: 2%;
    	font-family: 'Fjalla One', sans-serif;
    	font-size: 1.5vmax;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 25px;
		list-style-type: none;
	}
		ul.numEmail li{
			padding-top: 10px;
			padding-bottom: 10px;
		}
			ul.numEmail li a{
				color: black;
				text-decoration: none;
			}
				ul.numEmail li a:hover{
					font-weight: bold;	
				}
ul.socialMedia{
	margin: 2%;
	list-style-type: none;
}
	ul.socialMedia li{
		display: inline;
	}
.bclogo{
	width: 60px;
	height: 60px;
}
.fblogo{
	width: 60px;
	height: 60px;
}
.twlogo{
	width: 60px;
	height: 60px;
}
.instalogo{
	width: 60px;
	height: 60px;
}
.utubelogo{
	width: 60px;
	height: 60px;
}
/*~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~*/
footer{
	font-size: 11px;
	bottom: 0px;
	height: 55px;
	left: 0px;
	position: absolute;
	width: 100%;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}
footer p{
	color: white;
	text-align: center;
}
footer ul{
	color: white;
	font-family: 'Fjalla One', sans-serif;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	clear: both;
}
footer ul li{
	display: inline;
	padding: 5px
}
footer ul a:link{
	color: white;
	text-decoration: none;
}
footer ul a:visited{
	color: white;
	text-decoration: none;
}
footer ul a:hover{
	color: white;
	font-weight: 900;
	text-decoration: none;
}
footer ul a:active{
	color: white;
	text-decoration: none;
}
#creatorsig p{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 10px;
	color: rgba(255,255,255,.9);
}