*{
	margin: 0;
	padding: 0;
}

html{
	position: relative;
	min-height: 100%;
} 
body{
	background-color: rgb(204,0,0);
	color: rgb(204,0,0);
}
.wrapper{
	text-align: center;
	min-height: 100%;
	margin: auto;
	width: 75%;
	padding: 0 0 55px;
	position: relative;
}
h1{
	color: white;
	font-weight: bold;
	font-size: 30pt;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;	
}
h3{
	font-weight: bolder;
	font-size: 28px;
}
.newsHeader{
	text-align: left;
}

@media (max-width: 768px) {
	.newsHeader{
		text-align: center;
	}
}

h2{
	color: white;
	font-size: 25pt;
	text-align: left;
	font-family: 'Fjalla One', sans-serif;
}
/*--------------Header------------*/
#logo
{
	display: block;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 400px;
}
@media (max-width: 768px){
	#logo{
		width: 95%;
	}
}
/*----------Navbar controllers----------*/
.navbar-default .navbar-toggle{
	width: 100px;
	height: 100px;
	background-color: transparent;
	border: 4px solid rgb(204,0,0);
	border-radius: 5px;
	padding: 10px;
	float: none;
	margin: 5px auto;
}
@media (max-width: 768px){
	.navbar-default .navbar-toggle{
		display: block;
	}
}
.navbar-default .navbar-toggle .icon-bar{
	display: block;
	background-color: rgb(204,0,0);
	border-radius: 8px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 10px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
/*------------------nav style--------------------*/
nav{
	margin: auto;
	background-color: white;
	width: 100%;
}
.navbar-default .navbar-nav > li > a{
	color: rgb(204,0,0);
}
nav ul{
	float: none;
	margin: auto;
	list-style: none;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}
	nav ul > li{
		display: inline;
		padding: 20px;
    }
        nav ul > li > a {
	        color: rgb(204,0,0);
	        font-weight: bolder;
	        font-size: 40pt;
	        padding: 0px;
	        text-decoration: none;
    	}
    	nav ul > li > a:hover{
    		color: black;
            transition: 300ms all ease;
    	}
.navbar{
	margin: 0;
}
@media (max-width: 768px) {
	nav ul > li{
		padding: 10px;
	}
	nav ul > li > a {
		font-size: 35px;
	}
}
@media (min-width: 768px) {
  .nav > li{
  	display: inline-block;
  }
  .navbar{
  	border-radius: 0px;
  }
  .navbar-header {
    float: none;
  } 
  .navbar-nav {
      text-align: center;
      margin: 0;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/*--------------Conent------------*/
.pageContent{
	display: inline-block;
	margin: auto;
	width: 100%;
	padding: 20px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	color: white;
}
.newsBlock{
	display: block;
	text-align: left;
	padding-bottom: 35px;
	width: 85%;
	margin: auto;
}
.newsBlock a{
	text-decoration: none;
	color: white;
}
.newsBlock a:hover{
	color: black;
	transition: 300ms all ease;
}
.player{
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
	padding: 30px 20px 35px 20px;
}
.widget_iframe{
	padding-bottom: 25px;
}
/*--------------Pics--------------*/
.pic{
	border: white solid 5px;
}
.newsPic{
	width: 350px;
	display: block; 
	float: right;
	margin: 5px;
}
.bioPic{
	display: block;
	width: 75%;
	margin: auto;
	margin-bottom: 25px;
}
@media (max-width: 768px){
	.wrapper{
		width: 100%;
	}
	.newsBlock{
		display: inline;
		text-align: center;
	}
	.newsPic{
		width: 100%;
		margin: auto;
		float: none;
		clear: both;
	}
	.bioPic{
		width: 90%;
	}
}
/*-------------------Contact-------------------*/
	ul.numEmail{
		margin: 2%;
    	font-family: 'Fjalla One', sans-serif;
    	font-size: 20pt;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 25px;
		list-style-type: none;
	}
		ul.numEmail li{
			padding-top: 10px;
			padding-bottom: 10px;
		}
			ul.numEmail li a{
				color: white;
				text-decoration: none;
			}
				ul.numEmail li a:hover{
					color: black;
					transition: 300ms all ease;	
				}
ul.socialMedia{
	display: inline-block;
	margin: 2%;
	list-style-type: none;
	padding-bottom: 20px;
}
	ul.socialMedia li{
		margin: 5px;
		display: inline;
	}
.socIcon{
	width: 60px;
	height: 60px;
}
@media (max-width: 768px){
	ul.numEmail li a{
		font-size: 85%;
	}
	.socIcon{
		width: 15%;
		height: 15%;
	}
}
/*--------------footer------------*/
.foot{
	bottom: 0px;
	height: 75px;
	left: 0px;
	position: absolute;
	width: 100%;
	color: rgb(204,0,0);
	font-family: 'Fjalla One', sans-serif;
}
.foot p{
	font-size: 14px;
	font-weight: bold;
	color: rgb(204,0,0);
	margin: 0;
	margin-top: 5px;
	text-align: center;
}
.footUL{
	background-color: white;
	margin: 0;
}
.iconUL{
	color: rgb(204,0,0);
	font-size: 35px;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	clear: both;
}
.iconUL li{
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}
.iconUL a:link{
	color: rgb(204,0,0);
	text-decoration: none;
}
.iconUL a:visited{
	color: rgb(204,0,0);
	text-decoration: none;
}
.iconUL a:hover{
	color: black;
	font-weight: 900;
	text-decoration: none;
	transition: 300ms all ease;
}
.iconUL a:active{
	color: rgb(204,0,0);
	text-decoration: none;
}
#creatorsig a{
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: rgb(204,0,0);
}
#creatorsig a:hover{
	text-decoration: none;
	color: black;
	transition: 300ms all ease;
}